<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/eksponati">Muzej</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/eksponati">Eksponati</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf="isLoggedIn && !isAdmin" routerLink="/obilasci">Obilasci</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin" routerLink="/new-eksponat">Dodaj Eksponat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Uloguj se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/register">Registracija</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/profile">Moj profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" (click)="onLogout()" style="cursor: pointer;">Izloguj se</a>
        </li>
      </ul>
    </div>
  </nav>
