<div class="register-section">
    <div class="row justify-content-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Moj profil</h4>
                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="updateProfile(f)">
                        <div class="form-group row">
                            <label for="ime" class="col-md-4 col-form-label text-md-right">Ime</label>
                            <div class="col-md-6">
                                <input type="text" ngModel [(ngModel)]="user.ime" id="ime" class="form-control" name="ime" required
                                    autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="prezime" class="col-md-4 col-form-label text-md-right">Prezime</label>
                            <div class="col-md-6">
                                <input type="text" ngModel [(ngModel)]="user.prezime" id="prezime" class="form-control" name="prezime" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="telefon" class="col-md-4 col-form-label text-md-right">Telefon</label>
                            <div class="col-md-6">
                                <input type="text" ngModel [(ngModel)]="user.telefon" id="telefon" class="form-control" name="telefon" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="adresa" class="col-md-4 col-form-label text-md-right">Adresa</label>
                            <div class="col-md-6">
                                <input type="text" ngModel [(ngModel)]="user.adresa" id="adresa" class="form-control" name="adresa" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                            <div class="col-md-6">
                                <input type="email" ngModel [(ngModel)]="user.email" id="email" class="form-control" name="email" required autofocus>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Sifra</label>
                            <div class="col-md-6">
                                <input type="password" ngModel id="password" class="form-control" name="password" required>
                            </div>
                        </div>

                        <span class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary mt-3">
                                Azuriraj profil
                            </button>
    
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>